.header{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 50px;
    background-color: rgb(98, 230, 98);
}
.link{
    margin-right: 20px;
    outline: none;
    text-decoration: none;
}