.form{
    display: flex;
    flex-direction: column;
    padding:10px 20px;
    border-radius: 5px;
}
.label{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.input{
    margin-top: 10px;
    border-radius: 4px;
    width: 270px;
}
.input:focus{
    border-color: rgb(29, 159, 229);
    border-width: 2px;
    outline:none;
    box-shadow: 0 1px 5px rgb(41, 152, 212);
}
.button{
display: flex;
align-items: center;
justify-content: center;
    cursor: pointer;
    width: 150px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}
.text{
    text-align: center;
    font-weight: 700;
    font-size: x-large;
}
.button:hover,
.button:focus {
  background-color: #cccccc;
}